asn1crypto==0.24.0
attrs==22.1.0
cryptography==2.1.4
future==0.18.2
gevent==21.12.0
greenlet==1.1.2
idna==2.6
importlib-metadata==4.12.0
iniconfig==1.1.1
keyring==10.6.0
keyrings.alt==3.0
msgpack==1.0.4
numpy==1.23.2
packaging==21.3
pandas==1.4.3
pluggy==1.0.0
py==1.11.0
pycrypto==2.6.1
PyGObject==3.26.1
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.2.1
pyxdg==0.25
pyzmq==23.2.1
rarfile==4.0
SecretStorage==2.3.1
six==1.11.0
tomli==2.0.1
typing_extensions==4.2.0
zipp==3.8.1
zope.event==4.5.0
zope.interface==5.4.0
zerorpc==0.6.3